form{
    width: 300px
}
input, select{
    font-size: 10pt;
    margin-bottom: 5px;
}

fieldset #date, form input{
    display: block;
}

#date {
    display: inline
}

input[type="text"], input[type="number"]{
    padding: 7px;
    border-radius: 8px;
    border: 1px solid lightgrey;
}

input[type="number"]{
    width: 4em;
}

input[type="text"], input[type="submit"]{
    width: 90%;
}

#date *{
    display:inline-block;
}

select{
    width: 8em;
}

#year{
    width: 5em;
}

